doctype 5
html(lang="en")
    head
        title= pageTitle
        script(type='text/javascript').
          if (foo) {
             bar(1 + 5)
          }
    body
        h1 Jade - node template engine
        #container.col
            //- borschik:include: ./content.js

        #footer
            //- borschik:include: ./footer_content.js